@import 'bulma/bulma';

html {
  margin: 64px;
}

.tag.margin-left {
  margin-left: 5px;
}

.buttons .button.info {
  pointer-events: none;
  margin-right: 10px !important;
}

.comment, .post, .action-buttons {
  margin-bottom: 10px; 
}